@import url('https://fonts.googleapis.com/css2?family=Urbanist');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --surface-primary: #020B20;
    --primary-color: #3673F5;
    --secondary-color: #3FF480;
    --text-color: #BCD0FC;
    --background-color: #020B20;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    position: static;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Source Code Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 12px;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    color: var(--surface-primary);
    background-color: var(--primary-color);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
